/* @import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap"); */

:root {
  --verdigris: #383E59;
  --opal: #383E59;
  --cinnabar: #e34c3e;
  --davys-grey: #4d4d4d;
  --cultured: #f3f3f3;
  --gainsboro: #d9d9d9;
}

body {
  background-color: var(--cultured);
}

body,
html {
  font-family: "mr-eaves-sans", sans-serif !important;
  color: var(--davys-grey);
}


a {
  color: var(--cultured);
  text-decoration: none;
}

a:hover {
  color: var(--verdigris);
}

/* === Utilities === */
.bg-blue {
  background-color: var(--verdigris);
}

.bg-lightgrey{
background-color: #e4d0c0;
}

.bg-darkgrey {
  background-color: var(--gainsboro);
}

.text-blue {
  color: var(--verdigris);
}

.text-davys {
  color: var(--davys-grey);
}

.z-30 {
  z-index: 30;
}

.z-10 {
  z-index: 10;
}
.small-caps {
  font-variant: small-caps;
}
/* === End of Utilities === */

/* === Common Style === */
.main-title {
  font-family: "mr-eaves-sans", sans-serif;
  font-size: 75px;
  font-weight: 800;
  line-height: 42px;
}

.second-title {
  font-family: "mr-eaves-sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 45px;
}

.third-title {
  font-family: "mr-eaves-sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
}

.sub-title {
  font-size: 18px;
  color: #2c9893;
}

.btn.main-button {
  background-color: var(--verdigris);
  color: var(--cultured);
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 0;
  width: 100%;
}

.btn.main-button:hover {
  background-color: #537b7d;
  color: var(--cultured);
}

.btn.second-button {
  border: 1px solid var(--verdigris);
  color: var(--verdigris);
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 0;
  width: 100%;
}

.btn.second-button:hover {
  border: 1px solid var(--verdigris);
  color: var(--opal);
}
.btn.second-button-shop {
  background-color: var(--cinnabar);
  color: var(--cultured);
  border: 1px solid var(--cinnabar);
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 0;
}

.btn.second-button-shop:hover {
  border: 1px solid var(--cultured);
  color: var(--cultured);
  background-color: var(--cinnabar);
}

.btn.third-button {
  background-color: var(--cinnabar);
  color: var(--cultured);
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 0;
  width: 100%;
}

.btn.third-button:hover {
  background-color: #537b7d;
  color: var(--cultured);
}

.btn.third-button.disabled {
  border-color: #537b7d;
}

.form-control {
  padding-top: 12px;
  padding-bottom: 12px;
}

.packages,
.author,
.trailer,
.quotes,
.events {
  scroll-margin-top: 2rem;
}

.swal-button {
  background-color: var(--verdigris) !important;
  border-radius: 0;
  letter-spacing: 1px;
  padding: 12px 40px;
}

.swal-button:focus {
  box-shadow: none;
}

.swal-icon--success__line {
  background-color: var(--verdigris);
  border-radius: 0;
}

.swal-title {
  color: var(--davys-grey);
}

.swal-footer {
  text-align: center;
}

.swal-text {
  text-align: center;
}

.swal-icon--success__ring {
  border: 4px solid var(--verdigris);
}
/* === End of Common Style === */

/* === Navbar Style === */
.navbar {
  padding: 24px 0;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: #fff;
  padding: 14px 0;
  box-shadow: 0 4px 15px rgb(0 0 0 / 5%);
}

.nav-brand {
  height: 28px;
}

.nav-brand img {
  height: 100%;
}

.hamburger-menu {
  cursor: pointer;
  z-index: 9999;
}

.hamburger-menu .top,
.hamburger-menu .middle,
.hamburger-menu .bottom {
  width: 26px;
  height: 2px;
  background-color: var(--davys-grey);
  margin: 6px 0;
  transition: 0.4s;
}

.active .top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-6px, 5px);
}

.active .middle {
  opacity: 0;
}

.active .bottom {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.mobile-navlink {
  left: -100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.mobile-navlink.active {
  left: 0;
  opacity: 1;
}
/* === End of Navbar Style === */

/* === Global Style === */
.hero {
  padding-top: 100px;
}

.hero-image,.hero-content1 {
  width: 100%;
}


.author-content,
.hero-content {
  max-width: 100%;
}

.swiper-card {
  height: 440px;
}

.swiper-card::after {
  content: "";
  position: absolute;
  left: 24px;
  top: 30px;
  height: 25px;
  width: 32px;
  background-image: url("https://kabarmedia.com/mountains-more-ancient/assets/images/double-quote.svg");
  background-repeat: no-repeat;
}

.swiper-button-next {
  top: unset;
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: var(--verdigris);
  margin-top: 0;
}

.swiper-button-prev {
  top: unset;
  right: 0;
  margin-left: auto;
  margin-right: 70px;
  background-color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: var(--verdigris);
  margin-top: 0;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-pagination-bullet-active {
  background-color: var(--verdigris) !important;
}

.events {
  margin-bottom: -60px;
}

.events-link:hover {
  color: #fff;
}

.events-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #9abab8;
}

.footer-brand {
  height: 40px;
}

.footer-brand img {
  cursor: pointer;
  height: 100%;
}

.footer-link a {
  width: fit-content;
}

.footer-social .instagram-icon:hover,
.footer-social .facebook-icon:hover,
.footer-social .linkedin-icon:hover {
  color: var(--verdigris);
  cursor: pointer;

}

@media (min-width: 102px) {

  .author,
  .quotes,
  .other-books,
  .events {
    scroll-margin-top: 2.5rem;
  }
  .author-image-buku{
    margin-left: -70%;
  }
  
}
@media (min-width: 102px) and (max-width: 767px){

  .author,
  .quotes,
  .other-books,
  .events {
    scroll-margin-top: 2.5rem;
  }
  .author-image-buku{
    margin-left: -70%;
  }
  .hero-content1{
    display: none;
  }
  
}


@media (min-width:768px) and (max-width:990px){
  #Mobile-carousel{
    display: none;
  }
  .hero-image{
    margin-top: 125%;
  }
  .hero-image1{
    margin-top: -35%;
  }
  .hero-content{
    display: none;
  }
}


@media (min-width: 992px) {
  #Mobile-carousel{
    display: none;
  }
  .hero-content{
    padding-left: 20px;
  }
  .author-content{
    max-width: 45%;
  }
  .author-image{
    padding-left: 10%;
  }
  .hero-content1{
    display: none;
  }
}

@media (min-width: 1200px) {
  .btn.third-button {
    width: auto;
  }

  .main-title {
    font-size: 56px;
    line-height: 65px;
  }

  .second-title {
    font-size: 56px;
  }

  .third-title {
    font-size: 30px;
  }

  .navbar {
    padding: 30px 0;
  }

  .navbar.scrolled {
    padding: 24px 0;
  }

  .author-content{
    max-width: 45%;
  }
  .hero-content {
    max-width: 30%;
  }

  .author,
  .quotes,
  .other-books,
  .events {
    scroll-margin-top: 5rem;
  }

  .swiper-card {
    height: 335px;
  }
  .hero-image,.hero-image1{
    margin-top: -48%;
  }
  #Mobile-carousel{
    display: none;
  }
}

@media (min-width: 1400px){
  .author-content{
    max-width: 40%;
  }
  .author-image{
    padding-left: 30%;
    max-width: 80%;
  }
  
}

/* === End of Global Style === */
